@using AnonimSozluk.BusinessLayer
@using AnonimSozluk.Entities
@model Topic
@{
    TopicManager topicManager = new TopicManager();
    List<Topic> topicList = topicManager.GetTopicsReverse();
}
<div class="col-lg-3">
    <div class="row">
        <div class="position-fixed">
            <h5 class="my-4">Kategoriler</h5>
            <div id="backTopic" style="width:240px; overflow-y:scroll; overflow-x:hidden; scrollbar-arrow-color:cadetblue; height:50%; max-height:980px">
                @foreach (Topic topic in topicList)
                {
                    <p style="text-decoration:none;">
                        <a href="#" class="text-dark" style="text-decoration:none;">@topic.Title</a>
                    </p>
                }
            </div>
        </div>
    </div>
</div>




